
<div class="footer">

    <div class="content">

        <div class="box location">
            <h2 class="logo">Executive</h2>
            <p>Concord Royal Court (3rd floor) Dhanmondi, Dhaka 1209, Bangladesh.</p>
        </div>
    
        <div class="box links">
            <a href="#" onclick="return false;">About Us</a>
            <a href="#" onclick="return false;">Responsibilities</a>
            <a href="#" onclick="return false;">Our Services</a>
            <a href="#" onclick="return false;">Contact</a>
    
        </div>
    
        <div class="box links">
            <a href="#" onclick="return false;">Disclaimer</a>
            <a href="#" onclick="return false;">Testimonials</a>
            <a href="#" onclick="return false;">Privacy Policy</a>
            <a href="#" onclick="return false;">Terms of Service</a>
    
        </div>
    
        <div class="box socials">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
    
        </div>

    </div>

    <p class="trademark">2020 Executive Trade International.</p>

</div>