
<!-- INCLUDE IN MAIN HEADER TAG -->


<div class="header-left">
  <h2 class="logo">Executive</h2>
</div>
<div class="header-right">
  <div class="header-links nav-desktop">
    <a href="#" class="underline" onclick="activePage(this)">Home</a>
    <a href="#" onclick="activePage(this)">About Us</a>
    <a href="#" onclick="activePage(this)">Our Services</a>
    <a href="#" onclick="activePage(this)">Responsibilities</a>
    <a href="#" onclick="activePage(this)">Country</a>
  </div>
  <button class="apply-button">Apply</button>

  <div class="nav-mobile">
    <!-- <div class="burger" id="burger" onclick="navSlide()">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div> -->

    <div id="nav-icon3" onclick="burgerAnimation()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>



    <div class="header-links links-mobile " id="links-mobile">
      <a href="#" class="underline" onclick="()=>activePage(this)">Home</a>
      <a href="#" onclick="activePage(this)">About Us</a>
      <a href="#" onclick="activePage(this)">Our Services</a>
      <a href="#" onclick="activePage(this)">Responsibilities</a>
      <a href="#" onclick="activePage(this)">Country</a>
    </div>

    
  </div>


</div>

<!-- <nav>
  <div class="logo">
    <a href="#">Logo</a>
  </div>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="burger">
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>
  </div>
  <ul class="mobile-nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav> -->
