
<!-- INCLUDE IN MAIN HEADER TAG -->


<div class="header-left">
  <h2 class="logo">Executive</h2>
</div>
<div class="header-right">
  <div class="header-links nav-desktop">
    <a href="#" class="underline" onclick="activePage(this)">Home</a>
    <a href="#" onclick="activePage(this)">About Us</a>
    <a href="#" onclick="activePage(this)">Our Services</a>
    <a href="#" onclick="activePage(this)">Responsibilities</a>
    <a href="#" onclick="activePage(this)">Country</a>
  </div>
  <button class="apply-button">Apply</button>

  <div class="nav-mobile">
    <div id="nav-icon3" onclick="burgerAnimation()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="header-links links-mobile " id="links-mobile">
      <a href="#" class="underline" onclick="()=>activePage(this)">Home</a>
      <a href="#" onclick="activePage(this)">About Us</a>
      <a href="#" onclick="activePage(this)">Our Services</a>
      <a href="#" onclick="activePage(this)">Responsibilities</a>
      <a href="#" onclick="activePage(this)">Country</a>
    </div>

    
  </div>


</div>


